aiohttp==3.7.4.post0
APScheduler==3.6.3
async-timeout==3.0.1
attrs==21.4.0
autopep8==1.6.0
cachetools==4.2.2
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
cvxpy==1.2.0
discord.py==1.7.3
ecos==2.0.10
idna==2.5
mapping==0.1.6
multidict==6.0.2
numpy==1.22.3
osqp==0.6.2.post5
pandas==1.4.2
pycodestyle==2.8.0
python-dateutil==2.8.2
python-telegram-bot==13.11
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
qdldl==0.1.5.post2
requests==2.27.1
scipy==1.8.0
scs==3.2.0
six==1.16.0
toml==0.10.2
tornado==6.1
typing_extensions==4.2.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
yarl==1.7.2
